.main-section{
  display: grid;
  grid-template-columns: 480px 1fr;
  grid-template-areas: "left-panel main-customer-details";
}

app-customers-list{
  grid-area: left-panel;
}

.main-customer-details{
  grid-area: main-customer-details;
}

.customer-title{
  display: grid;
  grid-template-columns: 140px 1fr;
  padding: 30px 50px 0 50px;
  margin: 0 0 0 0;
}

.customer-img{
  border-radius: 50%;
  max-width: 100%;
  height: auto;
}

.customer-info{
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-content: center;
  margin: 0 0 0 35px;
}

.row-1{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.row-2{
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
}

.row-2 .customer-metric{
  color: #A7A7A7;
  margin: 0 25px 0 0;
}

.row-2 .customer-metric span{
  color: #000;
  font-weight: bold;
}

.customer-name{
  font-size: 2rem;
  font-weight: bold;
  color: #000;
}

.customer-title .customer-rating{
  align-self: center;
  height: 38px;
}

.customer-title .customer-rating mat-icon{
  width: 38px;
  height: 38px;
  font-size: 38px;
}

.star-zero{
  color: darkred;
}

.star-half{
  color: darkred;
}

.star-one{
  color: red;
}

.star-one-half{
  color: red;
}

.star-two{
  color: orangered;
}

.star-two-half{
  color: orangered;
}

.star-three{
  color: orange;
}

.star-three-half{
  color: orange;
}

.star-four{
  color: greenyellow;
}

.star-four-half{
  color: green;
}

.star-five{
  color: green;
}

.customer-title .customer-metric{
  font-size: 1.5rem;
}

.main-overlay-grid{
  display: grid;
  padding: 0 50px 0 50px;
  grid-template-columns: 9fr 200px 2fr;
}

.overlay-selector{
  grid-column: 2 / span 1;
  grid-row: 1 / span 2;
  width: 200px;
  height: 40px;
  background: #fff;
  border: solid 1px #000;
  box-shadow: 2px 4px 4px #979797;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-content: center;
}

.selector-option{
  align-self: center;
  cursor: pointer;
  width: 35px;
  height: 35px;
  font-size: 35px;
  outline: 0;
}

.selector-divider{
  border-right: solid 1px #979797;
  margin: 5px 0 5px 0;
}

.customer-title-separator{
  grid-column: 1 / span 3;
  grid-row: 1;
  border-bottom: 4px solid #979797;
  margin: 20px 0 20px 0;
  box-shadow: 0 2px #F6F6F6;
}
