.left-panel{
  box-shadow: 0 0px 4px #CBCBCB;
  height: 100%;
}

/* Left Panel Tabs */
.left-panel-tabs{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: center;
  padding: 20px 20px 10px 30px;
}

.tab-option{
  align-self: center;
}

.tab-divider{
  border-right: 2px solid #979797;
  height: 40px;
}

.tabs-separator{
  border-bottom: 3px solid #979797;
  margin: 0 10px 20px 20px;
  box-shadow: 0 6px #F6F6F6;
}

.left-panel-list{
  height: 560px;
  overflow-y: auto;
}

/* Rules for 27 inch screen */

@media screen and (min-height: 900px){

  .left-panel-list{
    height: 740px;
  }

}
