.main-grid{
  display: grid;
  grid-template-columns: 480px 1fr 60px;
  grid-template-rows: 70px 1fr 60px;
  grid-template-areas:
    "header header header"
    "left-panel main-section right-panel"
    "footer footer right-panel";
  font-family: Roboto;
  font-size: 100%;
  height: 100%;
}

/* ------------ */
/* -- Header -- */
/* ------------ */

header{
  grid-area: header;
  background-color: #F6F6F6;
  border: 1px solid #979797;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: center;
  box-shadow: 0 6px 4px #CBCBCB;
}

header .seperator{
  min-width: 200px;
  flex: 1 0 auto;
}

header a{
  font-size: 1.5rem;
  text-decoration: none;
  color: #848484;
  align-self: center;
  margin: 0 40px 0 0;
}

header .user-name{
  font-size: 1.5rem;
  align-self: center;
  margin: 0 20px 0 0;
  cursor: pointer;
}

header .user-settings{
  align-self: center;
  margin: 0 40px 0 0;
  cursor: pointer;
}

header .user-settings mat-icon{
  font-size: 2.5rem;
}


header img{
  width: 130px;
  margin: 0 40px 0 10px;
}

/* ---------------- */
/* -- Left Panel -- */
/* ---------------- */

.left-panel{
  grid-area: left-panel;
  box-shadow: 0 0px 4px #CBCBCB;
  height: 100%;
}

/* Left Panel Tabs */
.left-panel-tabs{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: center;
  padding: 20px 20px 10px 30px;
}

.tab-option{
  align-self: center;
}

.tab-divider{
  border-right: 2px solid #979797;
  height: 40px;
}

.tabs-separator{
  border-bottom: 3px solid #979797;
  margin: 0 10px 20px 20px;
  box-shadow: 0 6px #F6F6F6;
}

/* Left Panel list item */
.left-panel-list-item{
  display: grid;
  grid-template-columns: 80px 1fr;
  padding: 5px 20px 10px 30px;
  margin: 0 0 10px 0;
}

.left-panel-list{
  height: 590px;
  overflow-y: auto;
}

.list-item-separator{
  border-bottom: 1px solid #979797;
  margin: 0 10px 20px 20px;
  box-shadow: 0 2px #F6F6F6;
}

.customer-img{
  border-radius: 50%;
  //border: 1px solid #ddd;
  //padding: 5px;
  max-width: 100%;
  height: auto;
}

.customer-info{
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-content: center;
  margin: 0 0 0 35px;
}

.row-1{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.row-1 .customer-name{
  font-size: 1.5rem;
  font-weight: bold;
  color: #3679DD;
}

.row-1 .customer-rating{
  align-self: center;
}

.row-2{
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
}

.row-2 .customer-metric{
  color: #A7A7A7;
  margin: 0 25px 0 0;
}

.row-2 .customer-metric span{
  color: #000;
  font-weight: bold;
}

.row-3{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.row-3 .customer-trait{
  font-size: 0.75rem;
  color: #7B955F;
}

.row-3 .divider{
  border-right: 1px solid #979797;
  //height: 40px;
}



/* ------------------ */
/* -- Main Section -- */
/* ------------------ */

.main-section{
  grid-area: main-section;
}

.customer-title{
  display: grid;
  grid-template-columns: 140px 1fr;
  padding: 30px 30px 20px 50px;
  margin: 0 0 0 0;
}

.main-section .customer-info{
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
}

.customer-title .customer-name{
  font-size: 2rem;
  color: #000;
}

.customer-title .customer-rating mat-icon{
  font-size: 2rem;
  margin: 0 2.5px 0 2.5px;
}

.customer-title .customer-metric{
  font-size: 1.5rem;
}

.customer-title-separator{
  border-bottom: 4px solid #979797;
  margin: 0 50px 70px 50px;
  box-shadow: 0 2px #F6F6F6;
}

/* ----------------- */
/* -- Right Panel -- */
/* ----------------- */

.right-panel{
  grid-area: right-panel;
  width: 60px;
  height: 100%;
  background: #ECECEC;
  box-shadow: -6px 0px 4px #F6F6F6;

}

/* ------------ */
/* -- Footer -- */
/* ------------ */
.footer{
  grid-area: footer;
  height: 60px;
  background: #F8F8F8;
}
