<section class="main-grid">
  <!-- Header -->
  <header>
    <img class="logo" src="../assets/img/logo.svg">
    <a href="">link1</a>
    <a href="">link2</a>
    <a href="">link3</a>
    <span class="seperator"></span>

    <span class="user-name">Tess May</span>
    <mat-icon class="user-settings" aria-hidden="false" aria-label="Settings">person</mat-icon>

  </header>

  <!-- Left Panel -->
  <section class="left-panel">
    <!-- Left Panel Tabs -->
    <div class="left-panel-tabs">
      <div class="tab-aligner"></div>
      <a class="tab-option">OPTION A</a>
      <div class="tab-divider"></div>
      <a class="tab-option">OPTION B</a>
      <div class="tab-divider"></div>
      <a class="tab-option">OPTION C</a>
      <div class="tab-aligner"></div>
    </div>
    <div class="tabs-separator"></div>

    <!-- Left Panel List -->
    <div class="left-panel-list">

      <!-- Left Panel list item -->
      <div class="left-panel-list-item">
        <img src="../assets/img/dev/img_avatar.png" alt="" class="customer-img">
        <div class="customer-info">
          <div class="row-1">
            <div class="customer-name"> First Last</div>
            <div class="customer-rating">
              <mat-icon aria-hidden="false" aria-label="Settings">star</mat-icon>
              <mat-icon aria-hidden="false" aria-label="Settings">star</mat-icon>
              <mat-icon aria-hidden="false" aria-label="Settings">star</mat-icon>
              <mat-icon aria-hidden="false" aria-label="Settings">star_half</mat-icon>
              <mat-icon aria-hidden="false" aria-label="Settings">star_outline</mat-icon>
            </div>
          </div>
          <div class="row-2">
            <div class="customer-metric">
              Chats: <span class="customer-metric-value">200</span>
            </div>
            <div class="customer-metric">
              Feedbacks: <span class="customer-metric-value">10</span>
            </div>
          </div>
          <div class="row-3">
            <a class="customer-trait">OPTION A</a>
            <div class="divider"></div>
            <a class="customer-trait">OPTION B</a>
            <div class="divider"></div>
            <a class="customer-trait">OPTION C very long</a>
            <div class="row-3-aligner"></div>
          </div>
        </div>
      </div>
      <div class="list-item-separator"></div>

      <!-- Left Panel list item -->
      <div class="left-panel-list-item">
        <img src="../assets/img/dev/img_avatar.png" alt="" class="customer-img">
        <div class="customer-info">
          <div class="row-1">
            <div class="customer-name"> First Last</div>
            <div class="customer-rating">
              <mat-icon aria-hidden="false" aria-label="Settings">star</mat-icon>
              <mat-icon aria-hidden="false" aria-label="Settings">star</mat-icon>
              <mat-icon aria-hidden="false" aria-label="Settings">star</mat-icon>
              <mat-icon aria-hidden="false" aria-label="Settings">star_half</mat-icon>
              <mat-icon aria-hidden="false" aria-label="Settings">star_outline</mat-icon>
            </div>
          </div>
          <div class="row-2">
            <div class="customer-metric">
              Chats: <span class="customer-metric-value">200</span>
            </div>
            <div class="customer-metric">
              Feedbacks: <span class="customer-metric-value">10</span>
            </div>
          </div>
          <div class="row-3">
            <a class="customer-trait">OPTION A</a>
            <div class="divider"></div>
            <a class="customer-trait">OPTION B</a>
            <div class="divider"></div>
            <a class="customer-trait">OPTION C very long</a>
            <div class="row-3-aligner"></div>
          </div>
        </div>
      </div>
      <div class="list-item-separator"></div>

      <!-- Left Panel list item -->
      <div class="left-panel-list-item">
        <img src="../assets/img/dev/img_avatar.png" alt="" class="customer-img">
        <div class="customer-info">
          <div class="row-1">
            <div class="customer-name"> First Last</div>
            <div class="customer-rating">
              <mat-icon aria-hidden="false" aria-label="Settings">star</mat-icon>
              <mat-icon aria-hidden="false" aria-label="Settings">star</mat-icon>
              <mat-icon aria-hidden="false" aria-label="Settings">star</mat-icon>
              <mat-icon aria-hidden="false" aria-label="Settings">star_half</mat-icon>
              <mat-icon aria-hidden="false" aria-label="Settings">star_outline</mat-icon>
            </div>
          </div>
          <div class="row-2">
            <div class="customer-metric">
              Chats: <span class="customer-metric-value">200</span>
            </div>
            <div class="customer-metric">
              Feedbacks: <span class="customer-metric-value">10</span>
            </div>
          </div>
          <div class="row-3">
            <a class="customer-trait">OPTION A</a>
            <div class="divider"></div>
            <a class="customer-trait">OPTION B</a>
            <div class="divider"></div>
            <a class="customer-trait">OPTION C very long</a>
            <div class="row-3-aligner"></div>
          </div>
        </div>
      </div>
      <div class="list-item-separator"></div>


      <!-- Left Panel list item -->
      <div class="left-panel-list-item">
        <img src="../assets/img/dev/img_avatar.png" alt="" class="customer-img">
        <div class="customer-info">
          <div class="row-1">
            <div class="customer-name"> First Last</div>
            <div class="customer-rating">
              <mat-icon aria-hidden="false" aria-label="Settings">star</mat-icon>
              <mat-icon aria-hidden="false" aria-label="Settings">star</mat-icon>
              <mat-icon aria-hidden="false" aria-label="Settings">star</mat-icon>
              <mat-icon aria-hidden="false" aria-label="Settings">star_half</mat-icon>
              <mat-icon aria-hidden="false" aria-label="Settings">star_outline</mat-icon>
            </div>
          </div>
          <div class="row-2">
            <div class="customer-metric">
              Chats: <span class="customer-metric-value">200</span>
            </div>
            <div class="customer-metric">
              Feedbacks: <span class="customer-metric-value">10</span>
            </div>
          </div>
          <div class="row-3">
            <a class="customer-trait">OPTION A</a>
            <div class="divider"></div>
            <a class="customer-trait">OPTION B</a>
            <div class="divider"></div>
            <a class="customer-trait">OPTION C very long</a>
            <div class="row-3-aligner"></div>
          </div>
        </div>
      </div>
      <div class="list-item-separator"></div>

      <!-- Left Panel list item -->
      <div class="left-panel-list-item">
        <img src="../assets/img/dev/img_avatar.png" alt="" class="customer-img">
        <div class="customer-info">
          <div class="row-1">
            <div class="customer-name"> First Last</div>
            <div class="customer-rating">
              <mat-icon aria-hidden="false" aria-label="Settings">star</mat-icon>
              <mat-icon aria-hidden="false" aria-label="Settings">star</mat-icon>
              <mat-icon aria-hidden="false" aria-label="Settings">star</mat-icon>
              <mat-icon aria-hidden="false" aria-label="Settings">star_half</mat-icon>
              <mat-icon aria-hidden="false" aria-label="Settings">star_outline</mat-icon>
            </div>
          </div>
          <div class="row-2">
            <div class="customer-metric">
              Chats: <span class="customer-metric-value">200</span>
            </div>
            <div class="customer-metric">
              Feedbacks: <span class="customer-metric-value">10</span>
            </div>
          </div>
          <div class="row-3">
            <a class="customer-trait">OPTION A</a>
            <div class="divider"></div>
            <a class="customer-trait">OPTION B</a>
            <div class="divider"></div>
            <a class="customer-trait">OPTION C very long</a>
            <div class="row-3-aligner"></div>
          </div>
        </div>
      </div>
      <div class="list-item-separator"></div>


      <!-- Left Panel list item -->
      <div class="left-panel-list-item">
        <img src="../assets/img/dev/img_avatar.png" alt="" class="customer-img">
        <div class="customer-info">
          <div class="row-1">
            <div class="customer-name"> First Last</div>
            <div class="customer-rating">
              <mat-icon aria-hidden="false" aria-label="Settings">star</mat-icon>
              <mat-icon aria-hidden="false" aria-label="Settings">star</mat-icon>
              <mat-icon aria-hidden="false" aria-label="Settings">star</mat-icon>
              <mat-icon aria-hidden="false" aria-label="Settings">star_half</mat-icon>
              <mat-icon aria-hidden="false" aria-label="Settings">star_outline</mat-icon>
            </div>
          </div>
          <div class="row-2">
            <div class="customer-metric">
              Chats: <span class="customer-metric-value">200</span>
            </div>
            <div class="customer-metric">
              Feedbacks: <span class="customer-metric-value">10</span>
            </div>
          </div>
          <div class="row-3">
            <a class="customer-trait">OPTION A</a>
            <div class="divider"></div>
            <a class="customer-trait">OPTION B</a>
            <div class="divider"></div>
            <a class="customer-trait">OPTION C very long</a>
            <div class="row-3-aligner"></div>
          </div>
        </div>
      </div>
      <div class="list-item-separator"></div>


      <!-- Left Panel list item -->
      <div class="left-panel-list-item">
        <img src="../assets/img/dev/img_avatar.png" alt="" class="customer-img">
        <div class="customer-info">
          <div class="row-1">
            <div class="customer-name"> First Last</div>
            <div class="customer-rating">
              <mat-icon aria-hidden="false" aria-label="Settings">star</mat-icon>
              <mat-icon aria-hidden="false" aria-label="Settings">star</mat-icon>
              <mat-icon aria-hidden="false" aria-label="Settings">star</mat-icon>
              <mat-icon aria-hidden="false" aria-label="Settings">star_half</mat-icon>
              <mat-icon aria-hidden="false" aria-label="Settings">star_outline</mat-icon>
            </div>
          </div>
          <div class="row-2">
            <div class="customer-metric">
              Chats: <span class="customer-metric-value">200</span>
            </div>
            <div class="customer-metric">
              Feedbacks: <span class="customer-metric-value">10</span>
            </div>
          </div>
          <div class="row-3">
            <a class="customer-trait">OPTION A</a>
            <div class="divider"></div>
            <a class="customer-trait">OPTION B</a>
            <div class="divider"></div>
            <a class="customer-trait">OPTION C very long</a>
            <div class="row-3-aligner"></div>
          </div>
        </div>
      </div>
      <div class="list-item-separator"></div>
    </div>
  </section>

  <!-- Main -->
  <section class="main-section">

    <div class="customer-title">
      <img src="../assets/img/dev/img_avatar.png" alt="" class="customer-img">
      <div class="customer-info">
        <div class="spacer"></div>
        <div class="row-1">
          <div class="customer-name">First Last</div>
          <div class="customer-rating">
            <mat-icon aria-hidden="false" aria-label="Settings">star</mat-icon>
            <mat-icon aria-hidden="false" aria-label="Settings">star</mat-icon>
            <mat-icon aria-hidden="false" aria-label="Settings">star</mat-icon>
            <mat-icon aria-hidden="false" aria-label="Settings">star_half</mat-icon>
            <mat-icon aria-hidden="false" aria-label="Settings">star_outline</mat-icon>
          </div>
        </div>
        <div class="row-2">
          <div class="customer-metric">
            Chats: <span class="customer-metric-value">200</span>
          </div>
          <div class="customer-metric">
            Feedbacks: <span class="customer-metric-value">10</span>
          </div>
        </div>
      </div>
    </div>
    <div class="main-overlay-grid">
      <div class="customer-title-separator">

      </div>
      <div class="overlay-selector">
        <div class="selector-aligner"></div>
        <mat-icon class="selector-option" aria-hidden="false" aria-label="Settings">psychology</mat-icon>
        <div class="selector-divider"></div>
        <mat-icon class="selector-option" aria-hidden="false" aria-label="Settings">list</mat-icon>
        <div class="selector-divider"></div>
        <mat-icon class="selector-option" aria-hidden="false" aria-label="Settings">show_chart</mat-icon>
        <div class="selector-aligner"></div>
      </div>
    </div>
    <div class="customer-data"></div>
  </section>

  <!-- Right Panel -->
  <section class="right-panel"></section>

  <!-- Footer -->
  <section class="footer"></section>

</section>




<!-- Router Outlet -->
<router-outlet></router-outlet>
