<section class="main-grid">
  <!-- Header -->
  <header>
    <img class="logo" src="../assets/img/logo.svg">
    <a href="">link1</a>
    <a href="">link2</a>
    <a href="">link3</a>
    <span class="seperator"></span>

    <span class="user-name">Tess May</span>
    <span class="user-settings"><mat-icon aria-hidden="false" aria-label="Settings">person</mat-icon></span>

  </header>

  <!-- Left Panel -->
  <section class="left-panel">left-panel</section>

  <!-- Main -->
  <section class="main-section">main-section</section>

  <!-- Right Panel -->
  <section class="right-panel">1</section>

  <!-- Footer -->
  <section class="footer">footer</section>

</section>




<!-- Router Outlet -->
<router-outlet></router-outlet>
