/* Left Panel list item */
.left-panel-list-item{
  display: grid;
  grid-template-columns: 80px 1fr;
  padding: 5px 20px 10px 30px;
  margin: 0 0 10px 0;
}

.list-item-separator{
  border-bottom: 1px solid #979797;
  margin: 0 10px 20px 20px;
  box-shadow: 0 2px #F6F6F6;
}

.customer-img{
  border-radius: 50%;
  max-width: 100%;
  height: auto;
}

.customer-info{
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-content: center;
  margin: 0 0 0 35px;
}

.row-1{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.row-1 .customer-name{
  font-size: 1.3rem;
  font-weight: bold;
  color: #3679DD;
}

.row-1 .customer-rating{
  align-self: center;
}

.star-zero{
  color: darkred;
}

.star-half{
  color: darkred;
}

.star-one{
  color: red;
}

.star-one-half{
  color: red;
}

.star-two{
  color: orangered;
}

.star-two-half{
  color: orangered;
}

.star-three{
  color: orange;
}

.star-three-half{
  color: orange;
}

.star-four{
  color: greenyellow;
}

.star-four-half{
  color: green;
}

.star-five{
  color: green;
}

.row-2{
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
}

.row-2 .customer-metric{
  color: #A7A7A7;
  margin: 0 25px 0 0;
}

.row-2 .customer-metric span{
  color: #000;
  font-weight: bold;
}

.row-3{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.row-3 .customer-trait{
  font-size: 0.75rem;
  color: #7B955F;
}

.row-3 .divider{
  border-right: 1px solid #979797;
//height: 40px;
}

