<!-- customer list item -->
<div class="left-panel-list-item"
     [routerLink]="['/customers',customer.id, 'ai']"
      [routerLinkActive]="'selectedCustomer'">
  <img src="{{customer.img}}" alt="" class="customer-img">
  <div class="customer-info">
    <div class="row-1">
      <div class="customer-name">{{customer.firstName}} {{customer.lastName}}</div>
      <div class="customer-rating">
        <div *ngIf="customer.rating == 0" class="star-zero">
          <mat-icon aria-hidden="false" aria-label="Settings">star_outline</mat-icon>
          <mat-icon aria-hidden="false" aria-label="Settings">star_outline</mat-icon>
          <mat-icon aria-hidden="false" aria-label="Settings">star_outline</mat-icon>
          <mat-icon aria-hidden="false" aria-label="Settings">star_outline</mat-icon>
          <mat-icon aria-hidden="false" aria-label="Settings">star_outline</mat-icon>
        </div>
        <div *ngIf="customer.rating == 0.5" class="star-half">
          <mat-icon aria-hidden="false" aria-label="Settings">star_half</mat-icon>
          <mat-icon aria-hidden="false" aria-label="Settings">star_outline</mat-icon>
          <mat-icon aria-hidden="false" aria-label="Settings">star_outline</mat-icon>
          <mat-icon aria-hidden="false" aria-label="Settings">star_outline</mat-icon>
          <mat-icon aria-hidden="false" aria-label="Settings">star_outline</mat-icon>
        </div>
        <div *ngIf="customer.rating == 1" class="star-one">
          <mat-icon aria-hidden="false" aria-label="Settings">star</mat-icon>
          <mat-icon aria-hidden="false" aria-label="Settings">star_outline</mat-icon>
          <mat-icon aria-hidden="false" aria-label="Settings">star_outline</mat-icon>
          <mat-icon aria-hidden="false" aria-label="Settings">star_outline</mat-icon>
          <mat-icon aria-hidden="false" aria-label="Settings">star_outline</mat-icon>
        </div>
        <div *ngIf="customer.rating == 1.5" class="star-one-half">
          <mat-icon aria-hidden="false" aria-label="Settings">star</mat-icon>
          <mat-icon aria-hidden="false" aria-label="Settings">star_half</mat-icon>
          <mat-icon aria-hidden="false" aria-label="Settings">star_outline</mat-icon>
          <mat-icon aria-hidden="false" aria-label="Settings">star_outline</mat-icon>
          <mat-icon aria-hidden="false" aria-label="Settings">star_outline</mat-icon>
        </div>
        <div *ngIf="customer.rating == 2" class="star-two">
          <mat-icon aria-hidden="false" aria-label="Settings">star</mat-icon>
          <mat-icon aria-hidden="false" aria-label="Settings">star</mat-icon>
          <mat-icon aria-hidden="false" aria-label="Settings">star_outline</mat-icon>
          <mat-icon aria-hidden="false" aria-label="Settings">star_outline</mat-icon>
          <mat-icon aria-hidden="false" aria-label="Settings">star_outline</mat-icon>
        </div>
        <div *ngIf="customer.rating == 2.5" class="star-two-half">
          <mat-icon aria-hidden="false" aria-label="Settings">star</mat-icon>
          <mat-icon aria-hidden="false" aria-label="Settings">star</mat-icon>
          <mat-icon aria-hidden="false" aria-label="Settings">star_half</mat-icon>
          <mat-icon aria-hidden="false" aria-label="Settings">star_outline</mat-icon>
          <mat-icon aria-hidden="false" aria-label="Settings">star_outline</mat-icon>
        </div>
        <div *ngIf="customer.rating == 3" class="star-three">
          <mat-icon aria-hidden="false" aria-label="Settings">star</mat-icon>
          <mat-icon aria-hidden="false" aria-label="Settings">star</mat-icon>
          <mat-icon aria-hidden="false" aria-label="Settings">star</mat-icon>
          <mat-icon aria-hidden="false" aria-label="Settings">star_outline</mat-icon>
          <mat-icon aria-hidden="false" aria-label="Settings">star_outline</mat-icon>
        </div>
        <div *ngIf="customer.rating == 3.5" class="star-three-half">
          <mat-icon aria-hidden="false" aria-label="Settings">star</mat-icon>
          <mat-icon aria-hidden="false" aria-label="Settings">star</mat-icon>
          <mat-icon aria-hidden="false" aria-label="Settings">star</mat-icon>
          <mat-icon aria-hidden="false" aria-label="Settings">star_half</mat-icon>
          <mat-icon aria-hidden="false" aria-label="Settings">star_outline</mat-icon>
        </div>
        <div *ngIf="customer.rating == 4" class="star-four">
          <mat-icon aria-hidden="false" aria-label="Settings">star</mat-icon>
          <mat-icon aria-hidden="false" aria-label="Settings">star</mat-icon>
          <mat-icon aria-hidden="false" aria-label="Settings">star</mat-icon>
          <mat-icon aria-hidden="false" aria-label="Settings">star</mat-icon>
          <mat-icon aria-hidden="false" aria-label="Settings">star_outline</mat-icon>
        </div>
        <div *ngIf="customer.rating == 4.5" class="star-four-half">
          <mat-icon aria-hidden="false" aria-label="Settings">star</mat-icon>
          <mat-icon aria-hidden="false" aria-label="Settings">star</mat-icon>
          <mat-icon aria-hidden="false" aria-label="Settings">star</mat-icon>
          <mat-icon aria-hidden="false" aria-label="Settings">star</mat-icon>
          <mat-icon aria-hidden="false" aria-label="Settings">star_half</mat-icon>
        </div>
        <div *ngIf="customer.rating == 5" class="star-five">
          <mat-icon aria-hidden="false" aria-label="Settings">star</mat-icon>
          <mat-icon aria-hidden="false" aria-label="Settings">star</mat-icon>
          <mat-icon aria-hidden="false" aria-label="Settings">star</mat-icon>
          <mat-icon aria-hidden="false" aria-label="Settings">star</mat-icon>
          <mat-icon aria-hidden="false" aria-label="Settings">star</mat-icon>
        </div>
      </div>
    </div>
    <div class="row-2">
      <div class="customer-metric">
        Chats: <span class="customer-metric-value">{{customer.numOfChats}}</span>
      </div>
      <div class="customer-metric">
        Feedbacks: <span class="customer-metric-value">{{customer.numOfChats}}</span>
      </div>
    </div>
    <div class="row-3">
      <a class="customer-trait">{{customer.personalTraits['1']}}</a>
      <div class="divider"></div>
      <a class="customer-trait">{{customer.personalTraits['2']}}</a>
      <div class="divider"></div>
      <a class="customer-trait">{{customer.personalTraits['3']}}</a>
      <div class="row-3-aligner"></div>
    </div>
  </div>
</div>
<div class="list-item-separator"></div>
